C:\Users\migs\Documents\Unreal Projects\Debut\GGPoopTest\Saved
Saved/Backup/MI_BOx_01_2018-01-13-16-40-27.uasset
Saved/Backup/MI_BOx_01_2018-01-13-15-59-43.uasset
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/Debut.log
Intermediate/AssetRegistryCache/c90e3f55.bin
